@model IEnumerable<Shift>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Lista de Turnos</h1>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Recepcionista</th>
            <th>Tipo de Procedimiento</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.shift_date</td>
                <td>@item.User.name</td>
                <td>@item.Adviser.name</td>
                <td>@item.Type_Procedure.description</td>
                <td>@item.Status.description</td>
            </tr>
        }
    </tbody>
</table>
